.recipeContainer {
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  border-radius: 20px;
}

.recipeImage {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favTitle {
  font-size: 1rem;
  text-decoration: none;
}
.info {
  display: flex;
  gap: 10px;
  color: #868686;
}

.calorieInfo,
.timeInfo {
  padding: 5px;
  font-weight: 100;
  font-size: 0.75rem;
}
