.memberText {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.memberContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
// buttons
.memberBtn {
  border: none;
  background: var(--white);
  color: var(--blue);
  font-size: 1rem;
}

@media (min-width: 600px) {
  .memberText {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .memberContainer {
    flex-direction: row;
  }
}
