.pageWrapper {
  height: 780px;
  padding: 20px;
}

.form {
  display: grid;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1.25rem;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.formInput {
  width: 100%;
  border: 1px solid var(--grey);
  height: 30px;
}
.formRrow {
  margin-bottom: 1rem;
}

.btnContainer {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 45%;
}
