.formContainer {
  padding: 20px;
}

.formControl {
  display: flex;
  justify-content: center;
  background-color: white;
}

// Search Bar

.searchInput {
  flex-basis: 90%;
  height: 2rem;
  text-align: left;
  border: 1px solid #00b4bf;
  padding-left: 10px;
  outline: none;
}

.searchBtn {
  flex-basis: 10%;
  background-color: #00b4bf;
  color: white;
  border: none;
}
