.pageWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.errorImage {
  max-width: 400px;
  display: block;
}

// h3 {
//   font-size: 1.75rem;
//   margin-bottom: 0.5rem;
// }
// p {
//   font-size: 1.2rem;
//   margin-top: 0;
//   margin-bottom: 0.5rem;
// }
// a {
//   font-size: 1.2rem;
//   color: rgb(35, 157, 201);
//   text-decoration: underline;
//   text-transform: capitalize;
//   margin-bottom: 1rem;
// }
