.recipeContainer {
  background-color: #f6f6f6;
  padding: 15px;
}
.recipeWrapper {
  display: flex;
  gap: 5%;
}
.recipeImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.info {
  display: flex;
  gap: 25px;
  color: #868686;
}

// heart icon
.iconContainer {
  border: none;
  flex-basis: 10%;
  background-color: #f6f6f6;
}
.heartIcon {
  color: black;
  font-size: 1.5rem;
}

.fillHeartIcon {
  color: red;
  font-size: 1.5rem;
}
