.recipeContainer {
  background-color: #f6f6f6;
  border-radius: 100px;
  padding: 15px;
}
.recipeWrapper {
  display: flex;
  gap: 5%;
  text-decoration: none;
  color: black;
}
.recipeImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.titleContainer {
  flex-basis: 90%;
}
.info {
  display: flex;
  gap: 25px;
  color: #868686;
}

h5 {
  margin: 0;
}

// heart icon
.iconContainer {
  border: none;
  flex-basis: 10%;
}
.heartIcon {
  color: white;
  font-size: 1.25rem;
}

.fillHeartIcon {
  color: red;
  font-size: 1.25rem;
}
