.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.formInput {
  width: 100%;
  border: 1px solid var(--grey);
  height: 30px;
}
.formRrow {
  margin-bottom: 1rem;
}
