.noRecipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.noRecipes p {
  font-size: 1rem;
}

.sadIcon {
  font-size: 7rem;
  color: var(--blue);
}

@media (min-width: 600px) {
  .noRecipes {
    gap: 25px;
    padding-top: 4rem;
  }

  .noRecipes p {
    font-size: 1rem;
  }

  .sadIcon {
    font-size: 8rem;
  }
}

@media (min-width: 900px) {
  .noRecipes {
    padding-top: rem;
  }
  .sadIcon {
    font-size: 10rem;
  }
}
