.recipeContainer {
  padding: 20px;
}

// recipe image
.recipeImage {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

// back button
.exitContainer {
  font-size: 2.5rem;
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 8px;
}

.exitIcon {
  color: #f2efef;
  background-color: #000000;
}

.heartContainer {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.heartIcon,
.fillHeartIcon {
  font-size: 2.5rem;
  padding: 5px;
}

.heartIcon {
  color: rgb(1, 1, 1);
}

.fillHeartIcon {
  color: red;
}

.textContainer,
.ingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.ingList {
  padding-bottom: 2rem;
}
.ing,
.step {
  padding: 0.5rem 0;
}

.recipeBtn {
  background-color: #61b3b8;
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 0px;
  text-align: center;
  font-size: 1.25rem;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

@media (min-width: 650px) {
  .recipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipeBtn {
    width: 80%;
  }
}

@media (min-width: 900px) {
  .recipeBtn {
    width: 50%;
  }
}
