.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 800px) {
  .formControl {
    padding: 0 1rem;
  }
  .btnContainer {
    gap: 50px;
    padding-top: 2.5rem;
  }
}
