.pageWrapper {
  padding: 20px;
  // height: 85vh;
}

.textContainer {
  text-align: center;
}

h1 {
  font-size: 1rem;
}

.titleText {
  font-size: 2rem;
}

.formControl {
  display: flex;
  justify-content: center;

  background-color: white;
}

// Search Bar

.searchIcon {
  flex-basis: 10%;
}
.searchInput {
  flex-basis: 90%;
  height: 2rem;
  text-align: left;
  border: 1px solid #00b4bf;
  padding-left: 10px;

  outline: none;
}

.searchBtn {
  flex-basis: 10%;
  background-color: #00b4bf;
  color: white;
  border: none;
}

// Recipe Containers
.recipesContainer {
  padding: 20px 0px;
  height: 53vh;
}
.singleRecipeContainer {
  padding: 5px 0px;
}

// expand list/see all button
.btnContainer {
  text-align: center;
}
.allBtn {
  padding-top: 20px;
  color: #00b4bf;
  border: none;
  background-color: white;
  font-weight: 700;
}

// no recipes found container
.noRecipes {
  height: 53vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  font-size: 2rem;
}

.sadIcon {
  font-size: 5rem;
  color: #00b4bf;
}
