.categoryContainer {
  padding: 1rem;
}
.categoryText {
  text-transform: capitalize;
  padding: 0.5rem 0;
  font-weight: 700;
}

@media (min-width: 400px) {
  .categoryContainer {
    padding: 1rem;
  }
}
