.ingBtnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 0.5rem;
}

.activeBtn {
  background-color: var(--blue);
}

.btn {
  background-color: none;
  border: 1px solid black;
}

.ingredientText {
  text-transform: capitalize;
  padding-left: 5px;
}

@media (min-width: 550px) {
  .ingBtnContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .ingBtnContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  .ingBtnContainer {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.75rem;
  }
}
