.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 1.5rem 0;
}

.title {
  font-size: 2rem;
  padding: 0 0 0 2rem;
}

.accountContainer {
  position: relative;
  display: inline-block;
}

.accountBtn {
  display: flex;
  width: 120px;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  border: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
}

.dropDownContent {
  font-size: 1.25rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.settingsBtn,
.btn {
  text-transform: capitalize;
  margin: 0;
  border: none;
  font-size: 1rem;
  color: black;
  width: 100%;
  padding: 13px 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.settingsBtn:hover,
.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.accountContainer:hover .dropDownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.accountContainer:hover .accountBtn {
  background-color: #549ce0;
}

.navLinks {
  display: none;
}

@media (min-width: 750px) {
  .navLinks {
    background-color: var(--blue);
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .linkActive {
    padding-bottom: 5px;
    border-bottom: 4px solid #00b4bf;
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
  }

  .link {
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
  }
}

@media (min-width: 950px) {
  .navLinks {
    flex-basis: 70%;
    gap: 70px;
  }
  .linkActive,
  .link,
  .accountBtn {
    font-size: 1.25rem;
  }
}
